<p>I am a PhD student at <a href="https://ailab.criteo.com">Criteo AI Labs</a> and <a href="https://www.telecom-paris.fr/fr/recherche/laboratoires/laboratoire-traitement-et-communication-de-linformation-ltci">LTCI lab</a> at TélécomParisTech in Paris, France. My research namely focus on derivative free optimization and learning from bandit feedback. Recently, I have focused mostly on structural bandits.</p>

<p><strong>Recent activity</strong></p>

<ul>
<li> <i>(17/09/2020)</i> We will present some recent work on distributional robustness for learning offline contextual bandits at the REVEAL workshop of RecSys'20. Check it out <a href='/_papers/dro_reveal.pdf'> here</a>!
</li>
</ul>

<ul>
<li> <i>(01/06/2020)</i> Our paper <b>"Improved Optimistic Algorithms for Logistic Bandits"</b> got accepted at ICML'20.
</li>
</ul>


<ul>
<li> <i>(27/02/2020)</i> New preprint <b>"Improved Optimistic Algorithms for Logistic Bandits"</b>, presenting a new non-linear analysis of logistic bandits. Check out the paper <a href='https://arxiv.org/abs/2002.07530'> here</a>.
</li>
</ul>

<ul>
<li> <i>(09/02/2020)</i> The slides for our oral presentation at AAAI'20 for our work on Counterfactual Risk Minimization are now available <a href='/_papers/dro_crm_slides.pdf'> here</a>.
</li>
</ul>

<ul>
<li> <i>(10/11/2019)</i> Our paper <b>"Distributionally Robust Counterfactual Risk Minimization"</b> got accepted for oral presentation at AAAI'20. Check out the paper <a href='/_papers/dro_crm_aaai.pdf'> here</a>.
</li>
</ul>
